.header{
    background-color:  cadetblue;
    height: 12.5rem;
    width: 40rem;
    
}
.img{
    height: 3.4rem;
    width: 3.4rem;
border-radius: 3rem;
border: 1px solid black;
}
.span{
    color: black;
    font-size: 1.8rem;
}